@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body{
    font-family: "Parkinsans", sans-serif;
    
}

/* theme */
:root{
    --body_background: white;
    --body_color: black;
    --link_color: navy;
    
}

[data-theme="dark"]{
    --body_background: #282c34;
    --body_color: white;
    --link_color: cyan;
}
